.box-table { border-color: inherit;
  border: 1px solid #dbdad8}


  @font-face {
  font-family: 'Park Tech CG';
  font-style: normal;
  font-weight: normal;
  src: local('Park Tech CG'), url('Park Tech CG.woff') format('woff');
  }


  h1{
    font-family: 'Park Tech CG';
    font-weight: 100;
    color: red;
    font-size: 50;
  }
